h1{
    width: 100%;
    max-width: 600px;
    border: 2px dotted grey;
    margin: auto;
    text-align: center;
    padding: 20px;
}
section{
    width: 40%;
    padding: 15px 40px;
    float: left;
    border: double 3px red ;
    margin: 20px;
    border-radius: 90px;
    background-image: url(../../cat.png);
    overflow: hidden;
    /* background-repeat: no-repeat */
;
}